.tableWrapper {
    margin-top: 100px;
    width: 70%;
    height: 70vh;
    overflow-y: auto;
    .table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        padding: 0;

        & thead {
            background-color: #8e7dff;
            height: 40px;
            font-size: 20px;
            font-weight: 600;
            position: sticky;
            top: 0;
            z-index: 2;
        }

        & tbody tr td {
            padding: 0;
            height: 35px;
            font-size: 20px;
            font-weight: 300;
        }
        .tooltip {
            position: relative;

            .tooltipText {
                visibility: hidden;
                background-color: #8e7dff;
                color: black;
                border-radius: 6px;
                padding: 5px 40px;
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 120%;
                transform: translate(-50%, 0);
                opacity: 0;
                transition: opacity 0.3s;
                word-wrap: break-word;
                font-size: 18px;
                font-weight: 500;
            }

            .tooltipText::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #8e7dff transparent;
            }
        }

        .tooltip:hover {
            background-color: #8e7dff;
            .tooltipText {
                visibility: visible;
                opacity: 1;
            }
        }

        & tbody tr:nth-child(odd) {
            background-color: #e1e8ed;
        }
    }
}
